configstore
karabiner/automatic_backups
lazygit/state.yml
.nuxtrc
tmux/resurrect
raycast/extensions
openai
.nuxt/devtools
goose
fish/fish_variables
mole/mole.log
gh
.DS_Store
/filezilla
/mole/operations.log
/opencode
/rclone
/superpowers
/uv
/ngrok
/swiftpm
/.wrangler
/vastai/vast_api_key
/.android
/.semgrep
.claude
/yt-analytics
cagent
