gui:
  nerdFontsVersion: "3"
  skipRewordInEditorWarning: true
  filterMode: fuzzy
os:
  open: "nvim"
  openLink: open "$(echo {{link}} | sed 's/%2F/\//g')"
  editPreset: "nvim-remote"
  edit: 'nvr --remote-send ''<CMD>q<CR><CMD>lua vim.cmd("e " .. {{filename}})<CR>'''
  editAtLine: 'nvr --remote-send ''<CMD>q<CR><CMD>lua vim.cmd("e " .. {{filename}})<CR>{{line}}G'''
update:
  method: background
  days: 2
refresher:
  # File/submodule refresh interval in seconds.
  refreshInterval: 10
  # Re-fetch interval in seconds.
  fetchInterval: 60
